<script nonce="serviceWorker">
  if (!navigator.serviceWorker.controller) {
    //Register the ServiceWorker
    navigator.serviceWorker.register('sw.js', {
      scope: './'
    }).then(function(reg) {
      console.log('Service worker has been registered for scope:'+ reg.scope);
    });
  }
</script>

<script nonce="responsiveImages">
var css=document.getElementById('css_ref');
if (css) css.href=css.getAttribute('data-href');

dpr = 1;
if (window.hasOwnProperty('devicePixelRatio'))  dpr=window.devicePixelRatio;
if (dpr<1) dpr=1;
if (dpr>3) dpr=3;

function isInViewport(element) {
  var rect = element.getBoundingClientRect();
  var html = document.documentElement;
  return (
    rect.top >= 0 &&
    rect.bottom <= (window.innerHeight || html.clientHeight)
  );
}

debounce = false;
function respIm(force){
  if (!String.prototype.includes) {
     String.prototype.includes = function() {
         'use strict';
         return String.prototype.indexOf.apply(this, arguments) !== -1;
     };
 }
  var local = window.location.hostname.includes('localhost');
  var forEach = function (array, callback, scope) {
    for (var i = 0; i < array.length; i++) {
      callback.call(scope, i, array[i]); // passes back stuff we need
    }
  };
  //var imcdn = '//llpc.lite.imgeng.in/w_';
  var imcdn = 'https://loxima.imgix.net/';
  imcdn = "";
  
  var imgs = document.querySelectorAll('img.resp');
  forEach(imgs,function(i,v){
    var inv;
    if (force) {
      inv = true;
      doneAllImages = true;
    }
    else inv = isInViewport(v);
    if (inv) {
      var p = v.getAttribute('data-src');
      p=p.replace("https://webperf.ninja/","");
      p=p.replace("http://webperf.ninja/","");
      p=p.replace("//webperf.ninja/","");
      p=p.replace("webperf.ninja/","");
      p=p.replace("https://localhost:4000/","");
      p=p.replace("https://localhost:4000/","");

      
      local=true;
      if (local) {
        var parts=p.toString().split('/');
        v.src = '/'+parts[parts.length-2]+'/'+parts[parts.length-1];
      } else {
        var w = v.width;
        if (w < 50) {
          w = v.parentElement.clientWidth;
          if (v.hasAttribute('data-width')) {
            var x = v.getAttribute('data-width');
            if (x > 1) x/=100;
            w*=x;
          }
        }
        if (w < 100) w=100;
        v.src = imcdn+p+"?w="+w+"&dpr="+dpr+"&f=auto";
      }
    }
  });
  window.debounce=true;
  setTimeout(function(){window.debounce=false},1000);
};
respIm();
window.addEventListener('resize',function(){if (!debounce) respIm(false);});
window.addEventListener('load',function(){respIm(true)});
</script>
{% if site.owner.google.analytics %}
<script nonce="googleAnalytics">
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
i.initAnalytics=function(){a=s.createElement(o),m=s.getElementsByTagName(o)[0];
a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
}})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.owner.google.analytics }}', 'auto');
ga('send', 'pageview');

window.addEventListener('load',function(){initAnalytics()});
</script>
{% endif %}
{% if site.owner.azure.instrumentation %}
<script type="text/javascript" nonce="azureapplicationinsights">
  var appInsights=window.appInsights||function(config){
    function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
    }({
        instrumentationKey:"7999632c-6787-4954-88be-1effe25bc8ea"
    });
       
    window.appInsights=appInsights;
    appInsights.trackPageView();
</script>
<script type="text/javascript" nonce="azureapplicationinsights-events">
  var evnts = document.querySelectorAll('[data-event]');
  [].forEach.call(evnts,function(evnt) {
    evnt.addEventListener("click", function(){logAzureEvent();return false;});
  });
  function logAzureEvent() {
    appInsights.trackEvent(this.attributes['data-event'].value);
  }
</script>
{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
