<script nonce='responsiveImages'>
var css=document.getElementById('css_ref');
if (css) css.href=css.getAttribute('data-href');

window.debounce = false;
function respIm(){
  if (window.debounce) return;
  console.log('respIm()');
  var forEach = function (array, callback, scope) {
    for (var i = 0; i < array.length; i++) {
      callback.call(scope, i, array[i]); // passes back stuff we need
    }
  };
  var imcdn = '//llpc.lite.imgeng.in/w_';
  var imgs = document.querySelectorAll('img.resp');
  forEach(imgs,function(i,v){
    var p = v.getAttribute('data-src');
    var w = v.width;
    if (w == 0) {
      w = v.parentElement.clientWidth;
      if (v.hasAttribute('data-width')) {
        var x = v.getAttribute('data-width');
        if (x > 1) x/=100;
        w*=x;
      }
    }
    v.src = imcdn+w+'/'+p;
  });
  window.debounce=true;
  setTimeout(function(){window.debounce=false},1000);
};
respIm();
</script>
{% if site.owner.google.analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.owner.google.analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
